:host {
  resize: both;
  width: 95svw;
  height: 80svh;
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #eff0f1;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
}

@media (min-width: 777px) {
  :host {
    top: 20svh;
    left: 5rem;
    width: 1360px;
    height: 540px;
  }
}
