:host {
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(5px);
  box-shadow: 0px -3px 8px 3px #17171f73;
  border-top: 1px solid #464646;
  bottom: 0;
  max-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 777px) {
    left: calc(50vw - 180px);
    width: 360px;
    border: 1px solid #464646;
    border-bottom: none;
  }
}
