// text-colors
.primary {
  color: #00c69f;
  font-weight: bold;
}
.accent {
  color: #0094d4;
}
.warn {
  color: #f05033;
}
.danger {
  color: #dd0031;
}

// background-colors
.bgrad-primary {
  background: linear-gradient(to right, #00c69f 0%, #0094d4 100%);
}
.bgrad-accent {
  background: linear-gradient(to right, #EC9F05 0%, #FF4E00 100%);
}