<pre><span raxColor="primary">radvil&#64;www:</span><span raxColor="accent">~$ </span>whoami<div class="cursor blink"></div></pre>

<div class="neofetch">
<div class="left">
  <rax-avatar src="assets/images/portraits/photo.png" raxColorBg="success"></rax-avatar>
  <div class="social-links">
    <a href="https://www.facebook.com/radvilardian" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/in/radvil/" target="_blank">LinkedIn</a>
    <a href="https://www.github.com/radvil" target="_blank">Github</a>
  </div>
</div>

<div class="right">
  <div class="right__header">
    <div class="line lg-dn"></div>
    <pre><span raxColorBg="primary">&#64;radvil</span></pre>
    <div class="line"></div>
  </div>

  <pre><span raxColor="primary">Name  : </span>Radvil Laode</pre>
  <pre><span raxColor="primary">Email : </span>radvil.phone&#64;gmail.com</pre>
  <pre><span raxColor="primary">Phone : </span>0821-9948-6969</pre>
  <pre><span raxColor="primary">Links : </span></pre>
  <pre>   <span raxColor="accent">fb : </span>facebook.com/radvilardian</pre>
  <pre>   <span raxColor="accent">li : </span>linkedin.com/radvil</pre>
  <pre>   <span raxColor="accent">gt : </span>github.com/radvil</pre>
  <pre><span raxColor="primary">Skills: </span></pre>
  <div class="skillsets">
    <img src="assets/icons/node.png" alt="node" height="30" />
    <img src="assets/icons/mongo.png" alt="mongo" height="30" />
    <img src="assets/icons/git.png" alt="git" height="30" />
    <img src="assets/icons/html.png" alt="html" height="30" />
    <img src="assets/icons/css.png" alt="css" height="30" />
    <img
      src="assets/icons/javascript.png"
      alt="javascript"
      height="30"
    />
    <img
      src="assets/icons/typescript.png"
      alt="typescript"
      height="30"
    />
    <img src="assets/icons/angular.png" alt="angular" height="35" />
    <img src="assets/icons/tux.png" alt="tux" height="30" />
    <img src="assets/icons/photoshop.png" alt="photoshop" height="40" />
  </div>
</div>
</div>
