<pre><span radColor="primary">radvil@world:</span><span radColor="accent">~$ </span>whoami<div class="cursor blink"></div></pre>
<div class="neofetch">
  <div class="left">
    <rad-avatar></rad-avatar>
    <div class="social-buttons">
      <button>Facebook</button>
      <button>LinkedIn</button>
      <button>Github</button>
    </div>
  </div>
  <div class="right">
    <div class="right__header">
      <div class="line lg-dn"></div>
      <pre><span radBg="primary">@radvil</span></pre>
      <div class="line"></div>
    </div>
    <pre><span radColor="primary">Name  : </span>Laode Radvil Ardian</pre>
    <pre><span radColor="primary">Email : </span>radvil.phone@gmail.com</pre>
    <pre><span radColor="primary">Phone : </span>0821-9948-6969</pre>
    <pre><span radColor="primary">Links : </span></pre>
    <pre>   <span radColor="accent">fb : </span>facebook.com/radvilardian</pre>
    <pre>   <span radColor="accent">li : </span>linkedin.com/radvil</pre>
    <pre>   <span radColor="accent">gt : </span>github.com/radvil</pre>
    <pre><span radColor="primary">Skills: </span></pre>
    <div class="skillsets">
      <img src="assets/icons/node.png" alt="node" height="30" />
      <img src="assets/icons/mongo.png" alt="mongo" height="30" />
      <img src="assets/icons/git.png" alt="git" height="30" />
      <img src="assets/icons/html.png" alt="html" height="30" />
      <img src="assets/icons/css.png" alt="css" height="30" />
      <img src="assets/icons/javascript.png" alt="javascript" height="30" />
      <img src="assets/icons/typescript.png" alt="typescript" height="30" />
      <img src="assets/icons/angular.png" alt="angular" height="35" />
      <img src="assets/icons/tux.png" alt="tux" height="30" />
      <img src="assets/icons/photoshop.png" alt="photoshop" height="40" />
    </div>
  </div>
</div>
