:host {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  background-color: #333;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 777px) {
  :host {
    display: block;
  }
}
