* {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  margin: 0;
}

// scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f05033;
}

.noScroll {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.text-hero {
  @apply inline-block bg-clip-text text-transparent bg-gradient-to-r from-red-600 to-purple-600;
}

.bg-hero {
  @apply bg-gradient-to-r from-red-600 to-purple-600;
}

// large device
@media (min-width: 777px) {
  .shell {
    overflow: hidden;
    height: 100vh;
  }
  .lg-dn {
    display: none;
  }
}
