@import '../components/colors/colors';

:root {
	$handler-border-size: 7px;
	$handler-border-offset: -5px;
	$handler-corner-size: 12px;
	$handler-corner-offset: 0px;
}

.rax-spacer {
	flex: 1 0 auto;
}

.rax-scrollable-container {
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 200px;
}

.rax-scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

pre {
	font-family: FuraCodeNerd;
	font-weight: bold;
	text-align: left;
	margin: 0.5rem 0;
}
