$handler-border-size: 7px;
$handler-border-offset: -5px;

$handler-corner-size: 12px;
$handler-corner-offset: 0px;

.rad-window {
  border-radius: 10px;
  box-shadow: 0px 2px 5px 2px #6d6d6d73;
  min-width: 200px;
  min-height: 200px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 1.2rem;
  color: #eff0f1;
  background-color: #000000bb;
  box-shadow: 0px 3px 20px 3px #18182073;
  backdrop-filter: blur(7px);
}

.rad-window--scrollable-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.rad-scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.rad-window--content {
  min-height: 200px;
}

// SMALL DEVICES
@media (max-width: 777px) {
  .rad-window {
    height: 100%;
    width: 100%;
    position: static;
    padding-bottom: 5rem;
  }
}
