<div class="shell">
  <rax-window 
    raxResizable
    raxDraggable
    class="rax-window"
    [boxSize]="size"
    [boxPosition]="position"
    [handlerDirections]="directions"
  >
    <rax-window-header>~:bash~ konsole</rax-window-header>
    <rax-neofetch></rax-neofetch>
  </rax-window>

  <rax-dock raxDockRound="1rem" dockTheme="dark">
    <rax-dock-item
      *ngFor="let item of appDockItems"
      [dockItem]="item"
      [isActive]="item.isActive"
      [isDarken]="item.isDarken"
    ></rax-dock-item>
  </rax-dock>
</div>
